*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #202124;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.contaier{
    display: flex;
    flex-direction: row;
}

.menu{
    display: flex;
    justify-content: flex-end;
    margin-top: -1px;
}

nav ul, nav li{
    list-style: none;
    text-decoration: none;
    display: flex ;
    color: #ffffff;
    font-size: 13px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: #fff;
}

.underline:hover{
    text-decoration: underline;
}

li img{
    width: 22px;
    height: 22px;
    margin-left: 15px;
}

.icon{
    text-decoration: none;
}

.gmail, .images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
}

.gmail{
    margin-right: 1px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202124;
    background-color: #8AB4F8;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    width: 119.61px;
    margin-right: -11px;
}

#geral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    
}

.search{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39%;
}

.logo{
    margin-bottom: 25px;
}

.bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(174, 174, 174);
    height: 45px;
    width: 100%;
    border: 1px solid #626262;
    border-radius: 30px;
    padding: 15px;
}

.bar:hover{
    background-color: #303134;
}

.lupa_img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 85%;
}

.others_img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    align-items: center;

}

.lupa img{
    width: 20px;
    height: 24px;

}

.keyboard img{
    width: 28px;
    height: 16px;
}

.camera img{
    width: 26px;
    height: 29px;
}

.bar input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    font-size: 20px;
    color: #fff;
    outline: none;
}

.keyboard{
    margin-right: 15px;
}

.buttoms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttom1, .buttom2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303134;
    color:#ffffff;
    font-size: 14px;
    width: 140.26px;
    height: 36px;
    border-radius: 4px;
    margin-top: 29px;
}

.buttom1{
    margin-right: 13px;
}

footer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color:#9aa0a6;
    width: 100%;
    height: 85px;
    position: absolute;
    bottom: 10px;
    
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #121212aa;
    width: 100%;
}


.fd1{
    width: 100%;
    border-bottom: 1px solid #474747;
    padding: 15px;
    padding-left: 30px;
    font-size: 15px;
}

.fd_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
}

.fd2{
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-left: 35px;
}

.fd3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fd2_desc, .fd3_desc{
    margin-right: 30px;
    color:#9aa0a6;
}


@media(min-width:734px){
    .search{
        width: 588.87px;
    }

    .bar{
        min-width: 100%;
    }

    .break_line{
        display: none;
    }
}

@media (max-width:732px){
    footer{
        margin-top: 90px;
        position: fixed;
        padding-bottom: 20px;
    }
    
    .fd_content{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

    }

    .search{
        width: 430px
    }

    .bar{
        min-width: 100%;
    }

    .break_line{
        display: none;
    }

}

@media(max-width:434px){
    .break_line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .normal{
        display: none;
    }

    nav ul, nav li{
        padding-right: 10px;
    }

    .search{
        padding: 10px;
    }

    .fd1{
        font-size: 13px;
    }

    .fd_content{
        font-size: 12px;
    }
}

@media (max-width:311px){
    .buttoms{
        flex-direction: column;
    }
    
    .buttom1{
        margin-right: 0;
    }
}

